/.bundle
capybara-*.html
/config/*
config/initializers/secret_token.rb
config/txgh_config.rb
/coverage/
/db/*.sqlite3
.DS_Store
.env
Gemfile.lock
/log/*
**.orig
out.log
pickle-email-*.html
.project
/public/system/*
*.rbc
rerun.txt
.rspec
.rvmrc
*.sassc
.sass-cache
/spec/tmp/*
.*.swp
/tmp/*
/vendor/bundle
